*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,input,button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #1746A2;;
}

input, button{
    font-size: 16px;
}

header{
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5F9DF7;
    color: white;
}

main{
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.input-buku{
    float:right;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #5F9DF7;
    border-radius: 25px;
    color: white;
    width: 28%;
}

.input-buku input{
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    width: 95%;
    outline: none;
}

.input-inline{
    display: grid;
    margin-top: 10px;
    grid-gap: 10px;
    grid-template-columns: 1fr 0.5fr;
}

#tambahBuku{
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    border-radius: 1e31px;
    outline: none;
    background-color: #FFF7E9;
    color: black;
    cursor: pointer;
}

.search{
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #5F9DF7;
    border-radius: 25px;
}

.search > form{
    padding: 10px;
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 0.25fr;
}

.search > form > input{
    padding: 8px;
    border-radius: 15px;
    border: none;
    outline: none;
}

.search > form > button{
    background-color: #1746A2;
    color: white;
    border: none;
    border-radius: 1e31px;
    padding: 8px;
    font-size: 16px;
}

.search > form > button:hover{
    cursor: pointer;
}

.bookshelf{
    background-color: #5F9DF7;
    border-radius: 25px;
    color: white;
    padding: 20px;
    float: left;
    width: 70%;
    align-items: center;
}

#shelf-header{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-gap: 10px;
}

#shelf-header > button{
    border-radius: 1e31px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #1746A2;
    color: white;
    cursor: pointer;
}

.bookshelf > #shelf-header > h2{
    text-align: center;
}

.book_item{
    border-radius: 25px;
    background-color: #FFF7E9;
    padding: 8px 20px 20px 20px;
    margin-top: 15px;
    color: black;
}

.book_item > h3,p{
    margin: 5px 0;
}

.book_item > p{
    font-size: 14px;
}

.book_item > .action > button{
    border-radius: 1e31px;
    font-size: 14px;
    border: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 5px;
}

.book_item > .action > .edit{
    background-color: #1746A2;
    color: white;
}

.book_item > .action > .delete{
    background-color: #FF731D;
    color: white;
}